/* (Regular - 400) */
@font-face {
  font-family: "Google Sans";
  src: url("./fonts/GoogleSansFlex_24pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* (Medium - 500) */
@font-face {
  font-family: "Google Sans";
  src: url("./fonts/GoogleSansFlex_24pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* (SemiBold - 600) */
@font-face {
  font-family: "Google Sans";
  src: url("./fonts/GoogleSansFlex_24pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* (Bold - 700) */
@font-face {
  font-family: "Google Sans";
  src: url("./fonts/GoogleSansFlex_24pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ------------------------------------------------ */

@import "tailwindcss";

@theme {
  --default-font-family: "Google Sans", sans-serif;
  --font-sans: "Google Sans", sans-serif;

  /* --- Breakpoints --- */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

  /* --- Colors --- */

  /* - Backgrounds */
  --color-background: #f8fafc;
  --color-background-overview: #f4f6fa;

  /* - Brand & Actions */
  --color-brand-primary: #5168ee;
  --color-brand-hover: #2dacfd;
  --color-brand-gradient-start: #3a7af2;
  --color-brand-gradient-end: #00d2ff;
  --color-toggle-inactive: #adb5bd;

  /* - Typography */
  --color-text-primary: #4c4c4c;
  --color-text-secondary: #92a9bf;
  --color-text-inverse: #ffffff;

  /* - Borders */
  --color-border-default: #e2e8f0;
  --color-border-focus: #7e7fff;

  /* - Feedback & Status */
  --color-status-success: #93d74a;
  --color-status-error: #ef4444;
}

html,
body,
:root,
:host {
  font-family: "Google Sans", sans-serif !important;
}

body {
  @apply text-text-primary;
}

.custom-container {
  @apply xxl:max-w-330 mx-auto w-full px-4 sm:max-w-135 md:max-w-180 lg:max-w-240 xl:max-w-285;
}
